@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+20&family=Jersey+25&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lugrasimo&display=swap');

*{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  body {
    display: grid;
    background: radial-gradient(rgba(194, 178, 239, 0.3), rgba(189, 240, 231, 0.6));
    background-size: cover;
    height: 100hv;
    margin: 0;
    padding: 0;
  }

header {
    display: grid;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
  }

  .websites p {
    display: grid;
    margin-left: 2rem;
    font-size: x-large;
  }

  a {
    margin-left: 3.5rem;
  }

  .thanksnote {
    display: grid;
    text-align: center;
  }

  footer {
    display: grid;
    text-align: center;
    color: gray;
    font-size: xx-small;
    padding: 0;
  }

